<!DOCTYPE html>
<html>
<head>
    <head>
        <meta charset="UTF-8">
        <title>Fashion-Insta</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="preload" as="font" crossorigin="crossorigin" type="font/woff" href="https://constant.myntassets.com/www/fonts/WhitneyHTF-Book.woff">
        <link rel="preload" as="font" crossorigin="crossorigin" type="font/woff" href="https://constant.myntassets.com/www/fonts/WhitneyHTF-SemiBold.woff">
        <style>
            @font-face { font-family: 'Whitney'; font-display: swap; src: url('https://constant.myntassets.com/www/fonts/WhitneyHTF-Book.eot'); src: url('https://constant.myntassets.com/www/fonts/WhitneyHTF-Book.eot?#iefix') format('embedded-opentype'), url('https://constant.myntassets.com/www/fonts/WhitneyHTF-Book.woff') format('woff'), url('https://constant.myntassets.com/www/fonts/WhitneyHTF-Book.ttf') format('truetype'); } @font-face { font-family: 'Whitney'; font-display: swap; font-weight: 600; src: url('https://constant.myntassets.com/www/fonts/WhitneyHTF-SemiBold.eot'); src: url('https://constant.myntassets.com/www/fonts/WhitneyHTF-SemiBold.eot?#iefix') format('embedded-opentype'), url('https://constant.myntassets.com/www/fonts/WhitneyHTF-SemiBold.woff') format('woff'), url('https://constant.myntassets.com/www/fonts/WhitneyHTF-SemiBold.ttf') format('truetype'); }
            html, body {
                font-family: Whitney, Helvetica, Arial, sans-serif !important;
                -webkit-font-smoothing: antialiased;
                text-rendering: optimizeLegibility;
                padding:0 !important;
            }
        </style>
    </head>
</head>
<body>
<div class=" row desktop-logoContainer" data-reactid="15" style="height: 50px; width: 50px" ><img width="150" height="100" src="../static/myntra.jpeg" alt="myntra logo"></mg></div>
&nbsp;
<div class="row"><a href="/">Go Back</a></div>
&nbsp;
<div class="row">
    <div class="col"/>
<div class="col col-lg">Data Loaded Successfully</div>
</div>

</body>
</html>
