<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trending Shoes</title>
</head>
<!--<body>-->
<!--<h1>Trending Shoes from Instagram!</h1>>-->
<!--<img src="pic_trulli.jpg" alt="Italian Trulli">-->
<!--</body>-->
<body style="height: 300px">
<div class="desktop-logoContainer" data-reactid="15" style="height: 50px; width: 50px" ><img width="150" height="100" src="../static/myntra.jpeg" alt="myntra logo"></mg></div>
<div class="desktop-logoContainer" data-reactid="15" style="padding-top:100px; height: 500px; width: 500px" ><img width="300" height="250" src="../static/shoe1.jpg" alt="myntra logo"></img>
    <img width="300" height="250" src="../static/shoe2.jpg" alt="myntra logo"></img>
</div>

</body>
</html>